<h1>Powergrid Demo</h1>

<div id="dashboard">
  <p>
    Hello there and welcome to the Powergrid Demo. The goal of this project is to review the powergrid plugin we've made in our company.
  </p>
  <p>We're glad you accepted the invitation to give a try of our technologies, and we hope you will be interested and/or impressed by our work</p>
  <p>In all cases, your constructives criticisms will help us to make it stronger, bigger and more focused on what it should does.</p>
  <p>Powergrid is one of the most advanced grid widget for administration and ERP website. Write less code and focus on the business of your customer, that's why we made it.</p>
  <p>
    We use a free database sample named <strong>Pagila</strong> that you can find <a href="http://pgfoundry.org/projects/dbsamples/">here</a>. This database was a bit fixed for using with Rails conventions ( “<em>Railified</em>” )
  </p>
  <p>
    Issues, questions? Feel free to <a href="mailto:yacine@redtonic.net">contact me</a>
  </p>

  <h2>Enjoy your visit,</h2>

  <div class="signature">Yacine.</div>
</div>