%h2 Customer
%ul
  %li=link_to "List of customers", customers_path
  %li=link_to "Rental", rental_customers_path
  %li Payments

%h2 Store
%ul
  %li=link_to "Store list", store_index_path

%h2 Database
%ul
  %li Films By Actor
  %li Films By Category
